OPENAI_API_KEY=coloque_sua_chave_aqui
VOICE_SWAP=elevenlabs
ELEVENLABS_API_KEY=sk_ea4915d5a57b888cd21b89c352c763f3774e942b2d150369
ELEVEN_VOICE_ID=JBFqnCBsd6RMkjVDRZzb


MODEL_REALTIME=gpt-4o-realtime-preview-2025-05-08
VOICE_SWAP=elevenlabs
ELEVENLABS_API_KEY=...
ELEVEN_VOICE_ID=JBFqnCBsd6RMkjVDRZzb
ELEVEN_MODEL_ID=eleven_multilingual_v2

RECALL_API_KEY=...
RECALL_BOT_ID=...      # opcional; pode vir via ?bot_id=
PORT=3000
